<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse natus
      asperiores dolorem, eius delectus suscipit iusto nihil facilis omnis
      recusandae?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Primary</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        harum.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse natus
      asperiores dolorem, eius delectus suscipit iusto nihil facilis omnis
      recusandae?
    </p>
  </div>
</section>
