<div style="width: 30%; padding: 4rem">
  <div class="card card--primary">
    <header class="card__header">Card Primary</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, harum.
    </div>
  </div>
</div>
<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Secondary</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, harum.
    </div>
  </div>
</div>
