<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__line">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cumque
    provident voluptate blanditiis esse vero distinctio nesciunt aperiam autem
    eligendi!
  </div>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex reiciendis est
    dolores assumenda, eius impedit? In corporis consectetur sequi asperiores!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 2</h2>
    <svg class="icon icon--white collapsible__line">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cumque
    provident voluptate blanditiis esse vero distinctio nesciunt aperiam autem
    eligendi!
  </div>
</div>
