<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $20,500 per month</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, voluptas.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Input Placeholder text" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">list item 1</span></li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
    <li>list item 6</li>
  </ul>
</section>
