<div class="input-group">
  <input type="text" class="input" placeholder="Input Placeholder text" />
  <button class="btn btn--accent">Search</button>
</div>
<div class="input-group">
  <button class="btn btn--accent">Search</button>
  <input type="text" class="input" placeholder="Input Placeholder text" />
</div>
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Input Placeholder text" />
</div>
